{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}

    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if topics %}
            <ul>
                {% for movie in topics %}
                    <div class="layui-col-md12" style="background-color:white; padding:10px; margin-top: 10px;">
                        <div class="layui-col-md12">
                            <img src="{{ MEDIA_URL }}{{ movie.poster }}" alt="Picture of Poster"/>
                            <div class="layui-col-md11">
                                <div class="layui-col-md12 layui-font-20"><strong>Title: </strong><a href="{% url 'rango:show_page' movie.id %}">{{ movie.title }}</a></div>
                            </div>
                        </div>
                        <div class="layui-col-md12 layui-font-14" style="margin-top:20px"><strong>Director: </strong>{{ movie.director }}</div>
                        <div class="layui-col-md12 layui-font-14" style="margin-top:20px"><strong>Actors: </strong>{{ movie.actors }}</div>
                        <div class="layui-col-md12 layui-font-14" style="margin-top:20px"><strong>Description: </strong>{{ movie.description }}</div>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}

        <p>
            {% for page_number in topics.paginator.page_range %}
                {% ifequal page_number  topics.number %}
                    <a href="?page={{ page_number }}" class="layui-btn">{{ page_number }}</a>
                {% else %}
                    <a href="?page={{ page_number }}" class="layui-btn">{{ page_number }}</a>
                {% endifequal %}
            {% endfor %}
        </p>
    {% else %}
        The specified category does not exist.
    {% endif %}
{% endblock %}