{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}

<!--home page-->
<div class="layui-col-md12" style="padding-left: 1%;">
    <h2>Most Liked Movie Categories</h2><br/>
{% if categories %}
    <div class="layui-col-md5 layui-btn-container">
        {% for category in categories %}
        <a href="{% url 'rango:show_category' category.slug %}" class="layui-btn">{{ category.name }}</a>
        {% endfor %}
    </div>
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}
</div>

<div class="layui-col-md12">
    <h2 style="padding-top: 1%;">Most Viewed Movie Pages</h2><br/>
{% if movies %}
<!--rendering-->
    {% for movie in movies %}
    <div class="layui-col-md2 layui-card layui-bg-black" style="margin-left: 10px;height: 200px; width: 140px;">
        <div class="layui-card-header" style="color:white ; text-align:center;"><a href="{% url 'rango:show_page' movie.id %}" style="color: white;">{{ movie.title }}</a></div>
        <div style="width:100%;height: 80%;"><img src="{{ MEDIA_URL }}{{ movie.poster }}" alt="" style="width: 100%; height:100%;"></div>
    </div>
    {% endfor %}
{% else %}
    <strong>There are no pages present.</strong>
{% endif %}
</div>
{% endblock %}