{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<!--login page-->
<form class="layui-form" id="login_form" method="post" action="{% url 'rango:login' %}">
    <h1 style="padding-top: 2%;">Login to Rango</h1>
    {% csrf_token %}
    <div class="layui-form-item" style="padding-top: 2%;">
        <label class="layui-form-label">Username: </label>
        <div class="layui-input-block">
            <input type="text" name="username" required  lay-verify="required" placeholder="Please enter user name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Password: </label>
        <div class="layui-input-block">
            <input type="password" name="password" required  lay-verify="required" placeholder="Please enter user password" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">Submit</button>
        </div>
    </div>

</form>
{% endblock %}