{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<h1 style="padding-top: 2%;">Register for Rango</h1>
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
{% else %}
Rango says: <strong>register here!</strong><br />


<!--register-->
<form class="layui-form" id="user_form" method="post" enctype="multipart/form-data" action="{% url 'rango:register' %}">
    {% csrf_token %}
    <div class="layui-form-item" style="padding-top: 2%;">
        <label class="layui-form-label">Username: </label>
        <div class="layui-input-block">
            <input type="text" name="username" id="id_username" required  lay-verify="required" placeholder="Please enter user name" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Email address: </label>
        <div class="layui-input-block">
            <input type="email" name="email" placeholder="Please enter user email" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Password: </label>
        <div class="layui-input-block">
            <input type="password" name="password" id="id_password" required  lay-verify="required" placeholder="Please enter password" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Website: </label>
        <div class="layui-input-block">
            <input type="url" name="website" maxlength="200" placeholder="Please enter website" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Picture: </label>
        <div class="layui-input-block">
            <input type="file" name="picture" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">Submit</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}